<!DOCTYPE html>
{% load static %}
<html lang="en">

<!-- ###################################################################################################################################################################        -->
<head>
    <title>Shafira Ishlah Nurulita</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static '/css/newstyle.css' %}">
    <script src="{% static 'js/mytext.js' %}"></script>
    <script src="{% static 'js/email.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <style>
    .ml11 {
        font-weight: 900;
        font-size: 2.5em;
        color: #ffffff;
        text-align: center;
        align-content: center;
        font-size: 4rem;
        font-family: 'Libre Baskerville', serif;
      }

    @media (min-width: 576px){

    .jumbotron {
        padding: 2.5rem  1rem;
        margin-bottom: 2rem;
        background-color: #000000;
        border-radius: .3rem;
        height: 180px;
    }

    div {
        display: block;
    }

    }
    </style>
    <script>
    $(document).ready(function(){
      $('.ml11 .letters').each(function(){
          $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letters'>$&</span>"));
      });
      
      anime.timeline({loop: true})
      .add({
          targets: '.ml11 .line',
          scaleY: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700
      })
      .add({
          targets: '.ml11 .line',
          translateX: [0,$(".ml11 .letters").width()],
          easing: "easeOutExpo",
          duration: 700,
          delay: 100
      }).add({
          targets: '.ml11 .letters',
          opacity: [0,1],
          easing: "easeOutExpo",
          duration: 600,
          offset: '-=775',
          delay: function(el, i) {
          return 34 * (i+1)
          }
      }).add({
          targets: '.ml11',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
      });
    });
    </script>
  
</head>
<!-- ###################################################################################################################################################################        -->

<body onload="myFunction()" style="margin:0;">
  <div id="loader"></div>
  <div style="display:none;" id="myDiv" class="animate-bottom">   
    <!-- ###################################################################################################################################################################        -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: black;">
      <a class="navbar-brand" href="#" style="background-color: white;" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: black;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" style="text-align: center; ">
            <li class="nav-item active">
              <a class="nav-link" href="/">
              <img style="float: left;align-content: center " width="60px" height="70px"src="https://i.imgur.com/thTdg4V.jpg" >
              </a>
            </li>
            <li class="nav-item active">
              <a style="color:white; padding-top: 1vw;font-size: 25px;" class="nav-link" href="/">Profile</a>
            </li>
            <li class="nav-item">
              <a style="color:white;  padding-top: 1vw; font-size: 25px" class="nav-link" href="/book/">Book</a>
            </li>
            <li class="nav-item">
                <a style="color:white;  padding-top: 1vw; font-size: 25px" class="nav-link" href="/unsubscribe/">Unsubscribe</a>
            </li>
          </ul>
        </div>
      </a>
    </nav>
    <!-- ###################################################################################################################################################################        -->
  
  <br>
  <button style="background-color:#ff1a75;margin-left:auto;margin-right:auto;display:block; margin-bottom:0%;color: white" type="button" class="w3-btn w3-border-red w3-xlarge w3-round-large" id ="info" onclick="warna()"><b>Change Theme</b></button>
  <hr  style="border: none; border-bottom: 5px solid black;">
  
  <!-- ###################################################################################################################################################################        -->
  <center>
      {% csrf_token %}
      <main role="main">
          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
              <div class="container">
              <h1 class="ml11">
              <span class="text-wrapper">
                  <span class="line line1"></span>
                  <span class="letters">Subscribe now !</span>
                  </span>
              </h1>
              </div>
          </div>  
      </main>
      <form id="form" method ="POST" action = "">
          {% csrf_token %}
          {{ subscriber_form.as_p }}
          <p style ="margin-left: 50px;text-align: center" id="emailMsg">Please, Fill all the form and refresh after subscribed</p>
          <button id ="submit_btn" disabled>Submit</button>
      </form>
        </center>
  <!-- ###################################################################################################################################################################        -->
  <hr  style="border: none; border-bottom: 5px solid black;">

  <br>
  <h1 id="judul" style="text-align: center;font-size: 60px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ">Shafira Ishlah Nurulita</h1>
  <br>
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- ###################################################################################################################################################################        -->
    <!-- The Grid -->
    <div class="row">
        <!-- ###################################################################################################################################################################        -->
        <!-- Left Column -->
        <div class="col-md-4" >
          <!-- Foto dan tulisan di atas foto -->
          <div class="w3-white w3-text-grey w3-card-1">
            <div class="w3-display-container">
              <img src="https://i.imgur.com/z2XvAvx.jpg" style="width:100%" alt="foto shais">
              <div class="w3-display-bottomleft w3-container w3-text-white">
                <h2 >Shais</h2>
              </div>
          </div>
          <!-- Tulisan pekerjaan, no tlfn, alamat, email -->
          <div style="font-size: 20px;" class="w3-container">
          <br>	
            <p><i class="fa fa-female fa-fw w3-margin-right w3-large w3-text-pink"></i>Jakarta, January 5th 2000</p>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-pink"></i>Student of Computer Science in University of Indonesia</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-pink"></i>Jakarta, Indonesia</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-pink"></i>shafiraishlah51@gmail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-pink"></i>087741649139</p>
            <hr>
            <p style="text-align:center">I'm 18 years old student of Computer Science undergraduate program at University of Indonesia where I spent my time for learning and fulfilled myself with my interest in Technology and Arts. in my spare time, I like to shop and take a walk at the mall.</p>
          </div>
        </div>

    </div> <!-- Tutup left kolom-->
    <!-- ###################################################################################################################################################################        -->

  <!-- ###################################################################################################################################################################        -->
  <!-- Right Column -->
  <div class="col-md-8" >
     <!-- ###################################################################################################################################################################        -->
      <div id="accordion" >
        <!-- Pendidikan -->
        <h1>EDUCATION</h1>
        <div class="w3-container w3-card w3-white w3-margin-bottom" id ="displayacordion">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-mortar-board fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i>EDUCATION</h2>
          <br>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Computer Science, University of Indonesia</b></h5>
            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2017 - <span class="w3-tag w3-pink w3-round">Current</span></h6>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Science major, 33 Senior High School</b></h5>
            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2014 - July 2017</h6>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>204 Junior High School</b></h5>
            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2011 - July 2014</h6>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>11 Elementary School</b></h5>
            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2005 - July 2011</h6>
          </div>
        </div>

        <!-- Pengalaman -->
        <h1>EXPERIENCE</h1>
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i>Experience</h2>
          <br>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>PMB Fasikom UI</b></h5>
            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - <span class="w3-tag w3-pink w3-round">Current</span></h6>
            <p>Academic Staff</p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>DPM Fasilkom UI</b></h5>
            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - <span class="w3-tag w3-pink w3-round">Current</span></h6>
            <p>Human Resource Staff</p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Compfest X</b></h5>
            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018-2018</h6>
            <p>Decoration and Costume Staff</p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Computer Science League</b></h5>
            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017-2018</h6>
            <p>Official Staff</p><br>
          </div>
        </div>

        <!-- Ketertarikan -->
        <h1>INTEREST</h1>
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-gamepad fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i>Interest</h2>
          <br>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Food</b></h5>
            <ul style="list-style-type:circle">
              <li>fettuccine carbonara</li>
              <li>Ice Cream</li>
              <li>Cream Soup</li>
            </ul>  
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Sport</b></h5>
            <ul style="list-style-type:circle">
              <li>Basketball</li>
              <li>Pilates</li>
              <li>Dancesport</li>
            </ul> 
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Art</b></h5>
            <ul style="list-style-type:circle">
                <li>Music</li>
                <li>Room Decoration</li>
              </ul> 
          </div>
        </div>

        <!-- Skill -->
        <h1>SKILL</h1>
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i>Skill</h2>
          <br>
          <p>HTML</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-center w3-round-xlarge w3-pink" style="height:24px;width:80%">80%</div>
          </div>
          <br>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-center w3-round-xlarge w3-pink" style="height:24px;width:70%">70%</div>
          </div>
          <br>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-center w3-round-xlarge w3-pink" style="height:24px;width:70%">70%</div>
          </div>
          <br>
          <p>C</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-center w3-round-xlarge w3-pink" style="height:24px;width:30%">30%</div>
          </div>
        </div>

        <!-- Bahasa yang dikuasai -->
        <h1>LANGUAGE</h1>
        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-globe fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i>Language</h2>
            <br>
            <p>English</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-center w3-round-xlarge w3-pink" style="height:24px;width:90%">90%</div>
            </div>
            <br>
            <p>Indonesian</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-center w3-round-xlarge w3-pink" style="height:24px;width:90%">90%</div>
            </div>
            <br>
            <p>Chinese</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-center w3-round-xlarge w3-pink" style="height:24px;width:40%">40%</div>
            </div>
            <br>
            <p>Japanese</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-container w3-center w3-round-xlarge w3-pink" style="height:24px;width:25%">25%</div>
            </div>
        </div>
      </div><br> <!-- Tutup accordion -->
      <!-- ###################################################################################################################################################################        -->
    </div> <!-- Tutup div right kolom-->
    <!-- ###################################################################################################################################################################        -->
  </div> <!--Tutup div grid -->  
  <!-- ###################################################################################################################################################################        -->
</div> <!-- Tutup div paling atas-->

    
<!-- ###################################################################################################################################################################        -->
<footer class="w3-container w3-black w3-center w3-margin-top" id="bawah">
    <p style="font-size: 25px">Find me on social media.</p>
      <a href="https://www.facebook.com/shafira.ishlah.nurulita">
      <i class="fa fa-facebook-official w3-hover-opacity w3-xxlarge"></i>
  
      <a href="https://www.instagram.com/shafiraishlah51/?hl=id">
      <i class="fa fa-instagram w3-hover-opacity w3-xxlarge" ></i>
  
      <a href="https://twitter.com/shafiraishlah05"></a>
      <i class="fa fa-twitter w3-hover-opacity w3-xxlarge" ></i>
  
      <a href="https://www.linkedin.com/in/shafira-ishlah-b34394151/"></a>
      <i class="fa fa-linkedin w3-hover-opacity w3-xxlarge" ></i>
</footer>
<!-- ###################################################################################################################################################################        -->
</div>
</body>
</html>
