<!DOCTYPE html>
{% load static %}
<html lang="en">

<!-- ###################################################################################################################################################################        -->
<head>
    <title>Shafira Ishlah Nurulita</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static '/css/newstyle.css' %}">
    <script src="{% static 'js/mytext.js' %}"></script>
    <script src="{% static 'js/email.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <style>
    .ml11 {
        font-weight: 900;
        font-size: 2.5em;
        color: #ffffff;
        text-align: center;
        align-content: center;
        font-size: 4rem;
        font-family: 'Libre Baskerville', serif;
      }

    @media (min-width: 576px){

    .jumbotron {
        padding: 2.5rem  1rem;
        margin-bottom: 2rem;
        background-color: #000000;
        border-radius: .3rem;
        height: 180px;
    }

    div {
        display: block;
    }

    }
    </style>
    <script>
    $(document).ready(function(){
      $('.ml11 .letters').each(function(){
          $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letters'>$&</span>"));
      });
      
      anime.timeline({loop: true})
      .add({
          targets: '.ml11 .line',
          scaleY: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700
      })
      .add({
          targets: '.ml11 .line',
          translateX: [0,$(".ml11 .letters").width()],
          easing: "easeOutExpo",
          duration: 700,
          delay: 100
      }).add({
          targets: '.ml11 .letters',
          opacity: [0,1],
          easing: "easeOutExpo",
          duration: 600,
          offset: '-=775',
          delay: function(el, i) {
          return 34 * (i+1)
          }
      }).add({
          targets: '.ml11',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
      });
    });
    </script>
  
</head>
<!-- ###################################################################################################################################################################        -->

<body onload="myFunction()" style="margin:0;">
  <div id="loader"></div>
  <div style="display:none;" id="myDiv" class="animate-bottom">  
    <!-- ###################################################################################################################################################################        -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: black;">
      <a class="navbar-brand" href="#" style="background-color: white;" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: black;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" style="text-align: center; ">
            <li class="nav-item active">
              <a class="nav-link" href="/">
              <img style="float: left;align-content: center " width="60px" height="70px"src="https://i.imgur.com/thTdg4V.jpg" >
              </a>
            </li>
            <li class="nav-item active">
              <a style="color:white; padding-top: 1vw;font-size: 25px;" class="nav-link" href="/">Profile</a>
            </li>
            <li class="nav-item">
              <a style="color:white;  padding-top: 1vw; font-size: 25px" class="nav-link" href="/book/">Book</a>
            </li>
            <li class="nav-item">
                    <a style="color:white;  padding-top: 1vw; font-size: 25px" class="nav-link" href="/unsubscribe/">Unsubscribe</a>
            </li>
          </ul>
        </div>
      </a>
    </nav>
    <!-- ###################################################################################################################################################################        -->
  
  <br>
  <hr  style="border: none; border-bottom: 5px solid black;">
  {% csrf_token %}
  <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <div class="container">
          <h1 class="ml11">
          <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">The Subscribers</span>
              </span>
          </h1>
          </div>
      </div>  
  </main>


  <hr  style="border: none; border-bottom: 5px solid black;">

  <br>
  <br>
  
    <div class="row">
        <div class="table-responsive" style="margin-left: 20px;margin-right: 20px" >
                <table class = "table table-striped table-light table-hover table-bordered"  >
                    <thead>
                    <th class="col-sm-3" style="text-align:center;height: 50px;">Name</th>
                    <th class="col-sm-3" style="text-align:center">Email</th>
                    <th class="col-sm-3" style="text-align:center">Password</th>
                    
                    </thead>
                    {% csrf_token %}
                    <tbody id ="start_subs">

                    </tbody>
                </table>
            </div>
    </div>
    
<!-- ###################################################################################################################################################################        -->
<footer class="w3-container w3-black w3-center w3-margin-top" id="bawah">
    <p style="font-size: 25px">Find me on social media.</p>
      <a href="https://www.facebook.com/shafira.ishlah.nurulita">
      <i class="fa fa-facebook-official w3-hover-opacity w3-xxlarge"></i>
  
      <a href="https://www.instagram.com/shafiraishlah51/?hl=id">
      <i class="fa fa-instagram w3-hover-opacity w3-xxlarge" ></i>
  
      <a href="https://twitter.com/shafiraishlah05"></a>
      <i class="fa fa-twitter w3-hover-opacity w3-xxlarge" ></i>
  
      <a href="https://www.linkedin.com/in/shafira-ishlah-b34394151/"></a>
      <i class="fa fa-linkedin w3-hover-opacity w3-xxlarge" ></i>
</footer>
<!-- ###################################################################################################################################################################        -->
</div>
</body>
</html>

