body {
    background-color:#ff1a75;
}
body,h1,h2,h3{
    font-family: "Raleway", sans-serif
}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ff1a75;
    color: #ff1a75;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #aaaaaa;
    background:#c4c4c4;
    font-weight: normal;
    color: white;
}
.bg-button{
    background-color: #E9FDE9;
}

#bawah{
    background-color: white;
}