html{font-family: "Roboto", sans-serif}
body{font-family: "Roboto", sans-serif}
h1{font-family: "Roboto", sans-serif}
h2{font-family: "Roboto", sans-serif}
h3{font-family: "Roboto", sans-serif}
h4 {font-family: "Roboto", sans-serif}
h5 {font-family: "Roboto", sans-serif}
h6 {font-family: "Roboto", sans-serif}
/* 
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Style the buttons that are used to open and close the accordion panel */
/* .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
} */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .accordion:hover {
    background-color: #ccc;
} */

/* Style the accordion panel. Note: hidden by default */
/* .panel { 
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) 
} */